*

!.gitignore
!README.md
!TODO.md

!main.py

!py/
!py/checkers.py
!py/get_draft.py
!py/get_products.py
!py/make_ads.py
!py/start_ads_csv.py
!py/openai_generate_text.py
!py/write_campaign_footer.py
!py/get_header.py

!data.csv
!draft.csv
